.main {
  .container {
    max-width: 1080px;
    margin: auto;
  }

  .shell {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: ce;
    gap: $shell-gap;
    padding: 50px 0;
    .filter-row {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .filter-column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin: 10px;
        color: white;
        text-transform: uppercase;
      }
      button {
        flex-shrink: 0;
        min-width: 100px;
        padding: 10px;
        margin: 0 5px;
        // width: 200px;
        // display: inline-block;
      }
    }

    .loader {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: $bg-dark-color;
      color: white;
      img {
        max-width: 50px;
        margin-bottom: 50px;
        animation: pulse 2.5s infinite;
      }
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(2);
      }
      100% {
        transform: scale(1);
      }
    }
    .movie-card {
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex-basis: calc(
        (100% / $shell-cols) - ($shell-gap / $shell-cols * ($shell-cols - 1))
      );
      background-color: $bg-light-color;
      text-decoration: none;

      img {
        max-width: 100%;
      }
      .title {
        text-transform: uppercase;
        color: white;
        margin-top: 10px;
        font-size: 22px;
      }
      ul {
        list-style: none;
        margin-top: 10px;

        li {
          text-transform: capitalize;
          color: grey;
        }
      }
    }
  }
}
